* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: dashed 1px;

}

body {

    min-width: 1280px;
}

/*colori*/

:root {

    --header-color: #ff6900;
    --header-text-color: white;
}


/*utility*/

.flex {
    display: flex;
}

/* /utility */


/*header*/

header {
    background-color: var(--header-color);
}

.container {

    background-color: var(--header-color);
    align-items: center;
    justify-content: space-between;
    margin: auto;
    color: var(--header-text-color);
    height: 80px;
    width: 80%;

    .menu a {

        color: var(--header-text-color);
        text-decoration: none;
        font-weight: bold;

    }
}


.logo {

    text-align: center;

}

.img {


    width: 140px;
    padding-top: 5px;

}

.icon-menu {

    text-align: end;
}

/* fine header */








.canvas {
    position: relative;
    width: 400px;
    height: 600px;

  }

  .canvas:hover div.hover-img {
    display: block;
  }



  div.hover-img {
    position: absolute;
    width: 400px;
    height: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;


 
  }