* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: dashed 1px;

}

body {

    min-width: 1280px;
}

/*colori*/

:root {

    --header-color: #ff6900;
    --header-text-color: white;
}


/*utility*/

.flex {
    display: flex;
}

/* /utility */

header {
    background-color: var(--header-color);
}

.container {

    background-color: var(--header-color);
    align-items: center;
    margin: auto;
    color: var(--header-text-color);
    height: 80px;
    width: 80%;

    .menu a {

        color: var(--header-text-color);


    }
}

.menu,
.icon-menu,
.logo {

    flex-grow: 1;



}

.logo {

    text-align: center;




}

.img {


    width: 140px;
    padding-top: 5px;


}

.icon-menu {

    text-align: end;
}